@using ApplicationCore.Entities
@using ApplicationCore.Interfaces
@inject IRepository<Product> ProductRepo
@{
    ViewData["Title"] = "Home Page";
}

<h1>Products (Tests)</h1>
@foreach (var p in await ProductRepo.GetAllAsync())
{
    <div>
        <p>
            <img src="~/img/products/@p.PictureUri" alt="@p.Name" height="100px" />
            @p.Id - @p.Name - @p.Price
        </p>
    </div>
}

@* // TODO:
    * RESPONSİVE GRID
    *FILTER BY CATEGORY, BRAND
    *PAGINATION
*@